@import "tailwindcss";

#root {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

.thumbnail-swiper {
    cursor: grab;
}

.thumbnail-swiper:active {
    cursor: grabbing;
}

@media (max-width: 640px) {
    .thumbnail-container {
        height: auto !important;
    }
}